<section id="new">
<br><br>
  <div class="col-md-8 col-md-offset-2" id="menu">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= render "form" %>
  </div>
</section>
