<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @staff.name %></h1>
    <p>
      We just got a new Staff!!
    </p>
  </body>
</html>
